.maxSize {
    max-height: 210px;
    max-width: 285px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.col-centered {
    float: none;
    margin: 0 auto;
}


