
@{
    
}
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <div class="pagination pagination-centered">
                    <div class="pagination pagination-centered">
                        <h2 class="modal-title">Type of list<img src="~/images/symb.png" class="img-rounded"></h2>
                    </div>
                </div>
            </div>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Type1">This is a simple list</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Type2">Choise between 2</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Type3">Choise between 3</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Type4">Choise between 4</a>
                <p>
                </p>
            </div>
    </div>
</div>

                


